.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 50%;
    margin: auto;
}

#date{
    float: right;
    font-size: 150%;
    color: gray;
    text-align: center;
    width: 100%;
}